.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100vw;
}

#header {
	display: flex;
	justify-content: space-around;
	height: 15vh;
	align-items: center;
	color: #FFF;
}

h1 {
	font-size: 5rem;
	font-weight: 600;
	padding: 10px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
	width: 100%;
	max-width: 700px;
}

#footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 15vh;
}

#resetButton { 
	font-size: 2.2rem;
	color: black;
	 box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	background-color: rgb(255, 255, 255);
} 


#winCounter {
	font-size: 2.2rem;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 4rem;
	}

	#resetButton {
		font-size: 1.1rem;
	}
}
