.square {
	position: relative;
}
.card {
	box-sizing: border-box;
	padding: 10px;

	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	border: 2px solid black;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	background-color: rgba(255, 255, 255, 0.95);
	transition: all 130ms ease-in;
}

.joker {
	font-size: 2.2rem;
	color: rgb(233, 72, 32);
	background-color: grey;
	z-index: 4;
}

.match {
	background-color: grey;
	background-image: url(../imgs/cross.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
}
