.card {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 170ms ease-in;
	padding: 5px;
	user-select: none;
}

.card::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
}

.match {
	background-color: grey;
}
​ .noMatch {
	background-color: rgb(204, 193, 193);
}
