.square {
	position: relative;
}
.card {

	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	background-color: rgba(255, 255, 255, 0.95);
	transition: all 100ms ease-in; }

.card:hover {
	transform: rotate(2deg);
}

.match {
	color: rgba(0, 0, 0, 0);
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
}

.card--text {
	pointer-events: none;
	z-index: 3;
	font-size: 1.2rem
}

.cross {
	position: absolute;
	z-index: 4;
	width: 100%;
	pointer-events: none;
}

.joker .cross {
	transform: translate(0, 10px);
}
@media only screen and (max-width: 992px) {
	.card {
		padding: 2px;
	}
	.card--text {
		font-size: 0.9rem;
	}
}

@media only screen and (max-height: 700px) {
	.card {
		padding: 2px;
	}

}
